__pycache__/
*.py[cod]
*$py.class
*.so
venv/
ENV/
env/
.venv
.vscode/
.idea/
.vs/
*.swp
*.iml
*.ipr
*.iws
.DS_Store
Thumbs.db
.env
.claude/
.gradle/
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
/build/
/coverage/
*.log
.class
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
/android/app/debug
/android/app/profile
/android/app/release
android/.gradle/
android/app/build/
app.*.symbols
app.*.map.json
**/doc/api/
**/ios/Flutter/.last_build_id
Code/build/
**/build/