tensorflow==2.21.0
numpy==2.2.6
opencv-python-headless==4.13.0.92
albumentations==2.0.8
scikit-learn==1.8.0
matplotlib==3.10.9
seaborn==0.13.2
Pillow==11.3.0
pandas==3.0.3
scipy==1.17.1
tqdm==4.67.3
huggingface_hub==1.15.0
pycocotools==2.0.8
imagehash==4.3.1
